body {
  overflow: hidden;
  background-color: blue;
}

input {
  display: block;
  width: 80%;
  font-family: Courier;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

button {
  transform:scale(.3);
  border-style: none;
  background-color: transparent;
  font-family: Courier;
  font-size: 20px;
}
