textarea {
  width: 100%;
  height: 500px;
  background-color: white;
  color: green;
  font-family: arial;
  resize: none;
  border-style: none;
  font-size: 15px;
  box-shadow: none;
}

textarea:focus {
  border-style: none;
  outline: none;
  box-shadow: none;
}
